header{
    text-align: center;
    background-color: blue;
    color: cornsilk;
}

.fiveDay{
    background-image: linear-gradient(to bottom, rgb(178, 228, 228) , rgb(219, 186, 219));
    padding: auto;


}